awscli==1.43.5
boto3==1.41.5
dvc==3.64.0
fastapi==0.122.0
mlflow==2.7.1
pandas
plotly==6.5.0
pyarrow==21.0.0
pydot==4.0.1
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.7.2
sodapy==2.2.0
streamlit==1.51.0
uvicorn==0.38.0
cffi==1.17.1